fastapi
uvicorn
torch
diffusers
pillow
pydantic
sqlalchemy
alembic
passlib
pydantic[email]
bcrypt
passlib[bcrypt]
python-jose[cryptography]
diffusers
transformers
torch
xformers
accelerate
safetensors
dotenv
python-multipart
