fastapi
uvicorn
pillow
pydantic
pydantic[email]
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
diffusers
transformers
torch
torchvision
accelerate
safetensors
python-dotenv
python-multipart
psycopg2-binary
slowapi
sqladmin
itsdangerous
asyncpg
pytest
httpx
